@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 1 */
      -ms-text-size-adjust: 100%;
  /* 2 */
  }

/**
 * Remove default margin.
 */
body {
  margin: 0;
  }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
  }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
  }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none;
  }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  }
a:active, a:hover {
  outline: 0;
  }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
  }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold;
  }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
  }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  margin: .67em 0;
  font-size: 2em;
  }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  color: #000;
  background: #ff0;
  }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
  }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  }

sup {
  position: relative;
  top: -.5em;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  }

sub {
  bottom: -.25em;
  }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
  }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
  }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  height: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
  }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
  }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  /* 2 */
  margin: 0;
  /* 1 */
  font: inherit;
  color: inherit;
  /* 3 */
  }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
  text-transform: none;
  }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
select {
  text-transform: none;
  }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default;
  }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
  }

input {
  line-height: normal;
  }
input::-moz-focus-inner {
  padding: 0;
  border: 0;
  }
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
  }
input[type="search"] {
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
          box-sizing: content-box;
  -webkit-appearance: textfield;
  }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  /* 1 */
  padding: 0;
  border: 0;
  /* 2 */
  }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
  }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
  }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-spacing: 0;
  border-collapse: collapse;
  }

td, th {
  padding: 0;
  }

html {
  background-color: white;
  }

body {
  max-width: 720px;
  margin: 1em auto;
  font-family: 'Museo Sans', 'Open Sans', 'Arial Narrow', sans-serif;
  line-height: 1.5;
  background-color: white;
  border: 1px solid #ccc;
  }

article {
  margin: 1em;
  }

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  font-family: 'Minion Pro', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', "Hiragino Sans GB", "STXihei", "σ╛«Φ╜»Θ¢àΘ╗æ", serif;
  font-weight: 400;
  }

h1 {
  font-size: 3em;
  }
h1:first-of-type {
  margin: .5em 0;
  text-align: center;
  }

h2 {
  font-size: 2.5em;
  }

h3 {
  font-size: 2em;
  }

h4 {
  font-size: 1.5em;
  }

h5 {
  font-size: 1.25em;
  }

h6 {
  font-size: 1em;
  }

p {
  margin: .5em 0;
  }

hr {
  margin: 1em;
  border-top: 1px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  }

ol {
  padding: 0 2em;
  list-style: decimal;
  }
ol ol {
  list-style: upper-alpha;
  }
ol ol ol {
  list-style: upper-roman;
  }
ol ol ol ol {
  list-style: lower-alpha;
  }
ol ol ol ol ol {
  list-style: lower-roman;
  }

ul {
  padding: 0 2em;
  list-style: disc;
  }
ul ul {
  list-style: circle;
  }
ul ul ul {
  list-style: square;
  }
ul ul ul ul {
  list-style: disc;
  }
ul ul ul ul ul {
  list-style: circle;
  }
ul ul ul ul ul ul {
  list-style: square;
  }

blockquote {
  padding: 1em;
  margin: 1em;
  color: #00437a;
  background-color: #e0f1ff;
  border: 1px solid #c6e5ff;
  border-radius: 4px;
  }

pre, code {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
pre code, code code {
  padding: 0;
  margin: auto;
  background-color: inherit;
  border: 0;
  }

pre {
  padding: 1em;
  margin: 1em;
  }

code {
  padding: 0 4px;
  margin: 0;
  }

.toc {
  position: fixed;
  bottom: 1em;
  left: 50%;
  display: block;
  width: 3em;
  height: 3em;
  margin: 0 -1.5em;
  background-color: #428bca;
  border-bottom: 2px solid #3071a9;
  border-radius: 100%;
  -webkit-transition: all 300ms, border-radius 1s;
          transition: all 300ms, border-radius 1s;
  }
.toc.open {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 1.5em;
  border-radius: 0;
  }
.toc > ul {
  display: none;
  max-width: 720px;
  margin: 2em auto;
  }
.toc ul {
  list-style: none;
  }
.toc li li li li li {
  display: inline-block;
  padding: 0 .5em;
  margin: 0 0 .25em;
  background: #7eb0db;
  border-bottom: 2px solid #6aa3d5;
  border-radius: 2px;
  }
.toc a {
  display: block;
  line-height: 2;
  color: white;
  text-decoration: none;
  }
.toc a:visited {
  color: #f2f2f2;
  }
.toc a:hover, .toc a:focus {
  text-decoration: underline;
  }

.stats ul {
  margin: 0;
  list-style-position: inside;
  list-style-type: none;
  }
.stats ul li {
  padding-left: 15px;
  text-indent: -10px;
  border-left: 2px solid #ccc;
  }
.stats p {
  margin: .5em 1.5em;
  }
.stats p strong:first-child {
  display: inline-block;
  text-indent: -.5em;
  }

.creature,
.npc,
.trap {
  display: block;
  margin: auto auto 1em;
  background: #f2f2f2;
  border-bottom: 2px solid #e6e6e6;
  border-radius: 2px;
  }
.creature h4,
.npc h4,
.trap h4 {
  display: block;
  padding: 0 1em;
  margin: 1em 0 0;
  line-height: 2.1;
  color: white;
  cursor: pointer;
  background: #428bca;
  border-bottom: 2px solid #3071a9;
  border-radius: 2px;
  }
.creature h5,
.npc h5,
.trap h5 {
  display: block;
  padding: 0 1em;
  cursor: pointer;
  background: #e6e6e6;
  border-bottom: 2px #ccc solid;
  border-radius: 2px;
  }

.npc br {
  display: none;
  }

.cr {
  float: right;
  }

.npc .friendly {
  background: #47a447;
  border-bottom: 2px solid #388038;
  }
.npc .hostile {
  background: #d2322d;
  border-bottom: 2px solid #a82824;
  }
