// md20 Base styles

html {
  background-color: $color-white;
}

body {
  max-width: 720px;
  margin: 1em auto;
  background-color: $color-white;
  border: 1px solid $color-gray-20;
  line-height: 1.5;
  font-family: 'Museo Sans', 'Open Sans', 'Arial Narrow', sans-serif;
}

article {
  margin: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Minion Pro', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', "Hiragino Sans GB", "STXihei", "微软雅黑", serif;
  font-weight: 400;
  margin: 1em 0;
}

h1 {
  font-size: 3em;

  &:first-of-type {
    margin: 0.5em 0;
    text-align: center;
  }
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0.5em 0;
}

hr {
  border-top: 1px solid $color-gray-20;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 1em;
}

ol {
  list-style: decimal;
  padding: 0 2em;
  ol {
    list-style: upper-alpha;
    ol {
      list-style: upper-roman;
      ol {
        list-style: lower-alpha;
        ol {
          list-style: lower-roman;
        }
      }
    }
  }
}

ul {
  list-style: disc;
  padding: 0 2em;
  ul {
    list-style: circle;
    // padding: 0 1em;
    ul {
      list-style: square;
      ul {
        list-style: disc;
        ul {
          list-style: circle;
          ul {
            list-style: square;

          }
        }
      }
    }
  }
}

a {}

blockquote {
  background-color: $color-blue-gygax;
  border: 1px solid darken($color-blue-gygax, 5%);
  border-radius: 4px;
  padding: 1em;
  margin: 1em;
  color: darken($color-blue-gygax, 70%);
}

pre, code {
  border: 1px solid $color-gray-20;
  border-radius: 4px;
  background-color: $color-gray-05;

  & code {
    border: 0;
    background-color: inherit;
    padding: 0;
    margin: auto;
  }
}

pre {
  padding: 1em;
  margin: 1em;
}

code {
  margin: 0;
  padding: 0 4px;
}
