// md20 colors

//Grayscale
$color-white: hsl(0, 0, 100);
$color-gray-05: hsl(0, 0, 95);
$color-gray-10: hsl(0, 0, 90);
$color-gray-20: hsl(0, 0, 80);
$color-gray-30: hsl(0, 0, 70);
$color-gray-40: hsl(0, 0, 60);
$color-gray-50: hsl(0, 0, 50);
$color-gray-60: hsl(0, 0, 40);
$color-gray-70: hsl(0, 0, 30);
$color-gray-80: hsl(0, 0, 20);
$color-gray-90: hsl(0, 0, 10);
$color-gray-95: hsl(0, 0, 5);
$color-black: hsl(0, 0, 0);

//Browns

//Reds
$color-red-hostile: #d2322d;

//Oranges

//Yellows

//Greens
$color-green-friendly: #47a447;

//Blues
$color-blue-gygax: #e0f1ff;
$color-blue-curious: #428bca;

//Indigos

//Violets
