.toc {
  display: block;
  position: fixed;
  bottom: 1em;
  right: 3em;
  height: 3em;
  width: 3em;
  margin: 0 -1.5em;
  border-radius: 100%;
  background-color: $color-blue-curious;
  border-bottom: 2px solid darken($color-blue-curious, 10%);
  transition: all 300ms, border-radius 600ms;
  &.open {
    padding: 0 1.5em;
    width: 100%;
    height: 100%;
    border-radius: 0;
    right: 0;
    bottom: 0;
  }
  & > ul {
    display: none;
    max-width: 720px;
    margin: 2em auto;
  }
  ul {
    list-style: none;
  }
  li li li {
    display: inline-block;
    padding: 0 .5em;
    margin: 0 0 .25em;
    background: lighten($color-blue-curious, 15%);
    border-bottom: 2px solid lighten($color-blue-curious, 10%);
    border-radius: 2px;

    ul * {
      display: none;
    }
  }
  a {
    display: block;
    line-height: 2;
    color: $color-white;
    text-decoration: none;
    &:visited {
      color: $color-gray-05;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}